{
  "openapi": "3.0.0",
  "info": {
    "version": "Production",
    "title": "Adobe Commerce SaaS",
    "description": "The schema documented here is autogenerated from an instance of Adobe Commerce as a Cloud Service."
  },
  "paths": {
    "/V1/attributeMetadata/customerAddress": {
      "get": {
        "tags": [
          "attributeMetadata/customerAddress"
        ],
        "description": "Get all attribute metadata.",
        "operationId": "GetV1attributeMetadataCustomerAddress",
        "responses": {
          "200": {
            "description": "200 Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer-data-attribute-metadata-interface"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer-data-attribute-metadata-interface"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          }
        },
        "summary": "attributeMetadata/customerAddress"
      }
    }
  },
    "components": {
    "schemas": {
      "customer-data-attribute-metadata-interface": {
        "type": "object",
        "description": "Customer attribute metadata object",
        "properties": {
          "attribute_code": {
            "type": "string"
          },
          "frontend_label": {
            "type": "string"
          },
          "backend_type": {
            "type": "string"
          },
          "frontend_input": {
            "type": "string"
          },
          "is_required": {
            "type": "boolean"
          },
          "is_user_defined": {
            "type": "boolean"
          },
          "default_value": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "error-response": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "errors": {
            "$ref": "#/components/schemas/error-errors"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          },
          "parameters": {
            "$ref": "#/components/schemas/error-parameters"
          },
          "trace": {
            "type": "string",
            "description": "Stack trace"
          }
        },
        "required": [
          "message"
        ]
      },
      "error-errors": {
        "type": "array",
        "description": "Errors list",
        "items": {
          "$ref": "#/components/schemas/error-errors-item"
        }
      },
      "error-errors-item": {
        "type": "object",
        "description": "Error details",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "parameters": {
            "$ref": "#/components/schemas/error-parameters"
          }
        }
      },
      "error-parameters": {
        "type": "array",
        "description": "Error parameters list",
        "items": {
          "$ref": "#/components/schemas/error-parameters-item"
        }
      },
      "error-parameters-item": {
        "type": "object",
        "description": "Error parameters item",
        "properties": {
          "resources": {
            "type": "string",
            "description": "ACL resource"
          },
          "fieldName": {
            "type": "string",
            "description": "Missing or invalid field name"
          },
          "fieldValue": {
            "type": "string",
            "description": "Incorrect field value"
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://na1-sandbox.api.commerce.adobe.com/<instance-id>"
    }
  ]
}
